
<div ng-controller="TracksCtrl">
  <div>
    <h4>Playlist</h4>
    <div class="jumbotron " ui-on-Drop="onDrop($event, $data, playlist)">
      Drop here
    </div>
    <ul >
      <li ng-repeat="track in playlist">
        {{track.artist}}
      </li>
  </div>
  <div class="row marketing">
    <div ng-controller="TracksCtrl">
      <h4>Tracks</h4>
      <ul>
        <li ng-repeat="track in tracks" ui-draggable="true" drag="track">
          <audio controls>
            <source ng-src="{{track.track | trusted}}" type="audio/ogg" preload="none">
          </audio>
          <span>{{track.artist}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
