<div class="rows" ng-controller="TracksCtrl">
  <div class="col-md-4">
    <div id="gapless-player" />
    <div class="jumbotron" ui-on-Drop="onDrop($event, $data, playlist)">
      <h3>Drop here</h3>
      <ul class="list-group" >
        <li class="list-group-item" ng-repeat="track in playlist">
          {{track.artist}}
        </li>
      </ul>

    </div>
  </div>
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="track in tracks" ui-draggable="true" drag="track" >
        {{track.artist}}
      </li>
    </ul>
  </div>
</div>
